$white: #ffffff;
$black: #000;
$point-color: #a36b4f;
$font-color: rgb(105,105,105);
$navi: rgb(0,44,95);
$menu_gray: #969696;
$gray:rgb(105,105,105);
$gray_bg:rgb(160,160,160);
$light_navi: rgb(42,114,175);
$btn_navi:rgb(43,115,175);
$black_opcity :rgba(0,0,0,0.8);
$gray_gradient:rgb(60,60,60);

$g_red : rgba(207,25,32,1);
$ga_red : rgba(207,25,32,.3);
$g_black : rgba(36,36,36,1) ;
$ga_black : rgba(36,36,36,.3) ;
$g_gray : rgba(182,182,182,1);
$ga_gray : rgba(182,182,182,.3);
$g_blue: rgba(35,53,81,1);
$ga_blue: rgba(35,53,81,.3);
$g_burgundy: rgba(88,29,29,1);
$ga_burgundy: rgba(88,29,29,.3);

$black_opcity_btn :rgba(0,0,0,0.6);
$yellow:rgb(255,200,0);
$cover:rgb(55,55,55);

$ga_orange: rgba(255,102,0,0.5);
$g_orange: rgba(255,102,0,1);
$ga_skyblue: rgba(0,174,239,0.5);
$g_skyblue: rgba(0,174,239,1);

$orange : rgb(255,170,0);
$dark_orange : rgb(170,113,0);

$white_opacity: rgba(255,255,255,0.5);
$blue_bg: rgb(0,44,95);