// page0.scss
#page0 {
	background:url('../images/intro/open_bg_@3x.jpg') no-repeat; 
	background-size: 100% auto;
	background-position: 50% 50%;

	.ui-content {
		.textwrap {
			color: $cover;
			margin:16% 0 0 10%;
			h1{
				//font-family: 'HyundaiSansHead-Regular_0', sans-serif;
				span{
					display:block;
				}
			}
			p{
				font-family: 'HyundaiSansHead-Regular_0', sans-serif;
				margin-top:3%;
			}
		}

		#go_page1 {
		    width: 220px;
		    right: 50%;
		    transform: translateX(50%);
		    max-width: inherit;
		}

		.imgwrap{
			width: 34%;
      		position: absolute;
    		bottom: 3%;
    		right: 6%;
		}
	}	
}

#page0.tr {
	background:url('../images/intro/open_bg_@3x_tr.jpg') no-repeat; 
	background-size: 100% auto;
	background-position: 50% 50%;
}

#page0.es{
	background:url('../images/intro/open_bg_@3x_es.jpg') no-repeat;
	background-size: 100% auto;
	background-position: 50% 50%; 
}

#page0.ru{
	background:url('../images/intro/open_bg_@3x_ru.jpg') no-repeat;
	background-size: 100% auto;
	background-position: 50% 50%; 
}

#page0.fr{
	background:url('../images/intro/open_bg_@3x_fr.jpg') no-repeat;
	background-size: 100% auto;
	background-position: 50% 50%; 
}