// page51.scss
#page51 {
  background:url('../images/day1/82_photo.jpg') no-repeat;
  background-size: 100% auto;
  background-position:50% 50%; 
  
    .ui-content {
      @include reset-margins;
      max-width: 33%;
      position: absolute;
      bottom: 0;
      right: 0;
      overflow: hidden;

      .textwrap { 
        @include clearfix;
        position: relative;
          top: 20px;

        .text_tip {
            @include text_tip_p;
         }

         .text {
            overflow:hidden ; 
         }
      }

      .imgwrap {
        max-width: 57%;

        img {
          position: relative;
          right: -20%;
          top: 27px;
        }
      }
    } 
}


@media only screen and (orientation: Portrait) {
  #page51{
  	.ui-content {
  		display: none!important;
  	}
  }
}

@media only screen and (orientation: landscape) {
  #page51{
  	.ui-content {
  		display: block;
  	}
  }
}

