// page5.scss
#page74 {
  background:url('../images/day2/27_photo.jpg') no-repeat;
  background-size: 100% auto;

  .ui-content {
    @include reset-margins;
      width: 33%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      overflow-x: initial;

      .textwrap { 
        @include clearfix;
        margin-top: 45px;
        padding: 0;

        .text_tip {
          @include text_tip_t;
        }
      }
  } 
}


@media only screen and (orientation: Portrait) {
  #page74{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page74{
    .ui-content {
      display: block;
    }
  }
}

#page74.ru {
  .ui-content {
    width: 35%;
  }
}

