// page37.scss


#page37 {
  background:url('../images/day1/61_bg_map_1.jpg') no-repeat;
  background-size: 100% auto;
  
  .page_bg {
    animation: twinkle 1.5s infinite;
  }
  .next_finger {
    top: 25%;
    left: 0;
    width: 70%;
    height: 40%;

    img {
      left: calc(78% - 259px);
      //top: 41%;
    }
  }

  .ui-content {
    @include reset-margins;
    width: 33%;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;

    .textwrap { 
      @include clearfix
      // position:   relative; 
      // top:18px;
      // right:7px;

      .text_tip {
          @include text_tip_p;
          //max-width: 23px;
          
       }

       .text {
          overflow:hidden ; 
       }
    }

    .imgwrap {
      max-width: 64%;
      max-height: 180px;

      img {
        position: relative;
        right: -26%;
        top: 5px;
      }
    }


  } 
}




@media only screen and (orientation: Portrait) {
  #page37{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page37{
    .ui-content {
      display: block;
    }
  }
}

