// page5.scss
#page42 {
  background:url('../images/day1/67_photo.jpg') no-repeat;
  background-size: 100% auto;

  .ui-content {
    @include reset-margins;
      width: 33%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      overflow-x: initial;

    .textwrap { 
        @include clearfix;
        margin-top: 62px;
        padding: 0;

        .text_tip {
          @include text_tip_t;
          top:108px;
        }
      }
  } 
}


@media only screen and (orientation: Portrait) {
  #page42{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page42{
    .ui-content {
      display: block;
    }
  }
}

