// page81.scss
#page81 {
  background:url('../images/day2/38_photo.jpg') no-repeat;
  background-size: 100% auto;
  background-position:50% 50%; 

    .ui-content {
      @include reset-margins;
      position: absolute;
      bottom: 0;
      right: 0;
      overflow: hidden;

      .main_wrap {
        max-width: 62%;
        float: right;

        .textwrap { 
          @include clearfix;
          max-width: 188px;
         // float: right;

          .text_tip {
              @include text_tip_p;
           }

           .text {
              overflow:hidden ; 
           }
        }

        .imgwrap {
         // max-width: 65%;
          //float: right;
          margin-right: 14%;

          img {
            position: relative;
            //right: -10%;
            top: 7px;
          }
        }
      }
    } 
}


@media only screen and (orientation: Portrait) {
  #page81{
  	.ui-content {
  		display: none!important;
  	}
  }
}

@media only screen and (orientation: landscape) {
  #page81{
  	.ui-content {
  		display: block;
  	}
  }
}

