// page5.scss
#page101 {
  background:url('../images/day2/70_photo.jpg') no-repeat;
  background-size: 100% 100%;

  .ui-content {
    @include reset-margins;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;

    .main_wrap {
        max-width: 50%;
        float: right;

        .textwrap { 
          @include clearfix;
          max-width: 188px;
          //float: right;

          .text_tip {
              @include text_tip_p;
           }

           .text {
              overflow:hidden ; 
           }
        }

        .imgwrap {
          width: 90%;
          float: right;
          margin-right: 38%;
          max-height: 150px;

          img {
            position: relative;
            right: -10%;
            top: 7px;
          }
        }
      }
  } 
}


@media only screen and (orientation: Portrait) {
  #page101{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page101{
    .ui-content {
      display: block;
    }
  }
}

