//timeline
// #wrap{
// 	overflow-y: auto;
// }
#view_contBox {
  position: relative;
  width: 100%;
  height: 100%;
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #141414;
    overflow: hidden;
    z-index: 9;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
    .logo {
      margin: -10px auto;
      width: 140px;
    }
    a.share {
      position: absolute;
      top: 50%;
      right: 15px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .list {
    position: relative;
    padding-top: 70px;
    min-height: calc(100% - 70px);
    overflow-x: hidden;
    article {
      margin: 5px auto;
      padding: 5px;
      width: calc(100% - 30px);
      background: #252525;
      border: 1px solid #a36b4f;
      /*  -webkit-border-radius:6px; border-radius:6px;  */
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      &:first-of-type {
        margin-top: 0;
      }
      .photo {
        position: relative;
        height: 32vh;
        margin-bottom: 10px;
        overflow: hidden;
        /* -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; */
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .profile_wrap, .txt_wrap {
        padding: 0 10px;
      }
      .profile_wrap {
        .userPix_wrap, .userProfile {
          color: #fff;
          display: inline-block;
        }
        .userPix {
          position: relative;
          margin-right: 5px;
          width: 34px;
          height: 34px;
          overflow: hidden;
          border: 1px solid #a36b4f;
          -webkit-border-radius: 17px;
          border-radius: 17px;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
        .userProfile {
          vertical-align: top;
          span {
            display: block;
            &.name {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
      .txt_wrap {
        margin-top: 10px;
        color: #fff;
        .keyword_wrap {
          margin: 10px 0;
          p {
            margin: 0;
            span {
              font-weight: bold;
              color: #a36b4f;
            }
          }
        }
      }
    }
  }
  .moreView {
    position: relative;
    a {
      padding: 10px 0;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      color: #a36b4f;
      text-decoration: none;
      line-height: 30px;
      text-align: center;
      display: block;
      .icon {
        margin-right: 10px;
        width: 20px;
        height: 10px;
        background: url('../images/timline/btn_view-more_indicate.png') 0 0 no-repeat;
        background-size: 20px;
        display: inline-block;
      }
    }
  }
}