.ui-page-theme-a .sidePanel {
  background-color: #000 !important; }

.sidePanel_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
  overflow: hidden; }
  .sidePanel_wrap .sidePanel {
    position: absolute;
    top: 0;
    left: 105%;
    width: 92%;
    height: 100%;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.75); }
  .sidePanel_wrap .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    line-height: 0; }

.sidePanel .menu_list {
  position: relative;
  top: 11%;
  margin: 0 auto;
  padding: 0;
  width: 92%;
  height: 80%;
  list-style: none;
  color: #fff; }
  .sidePanel .menu_list ul, .sidePanel .menu_list li {
    margin: 0;
    padding: 0; }
  .sidePanel .menu_list > li {
    height: 100%;
    width: 33%;
    float: left;
    margin-bottom: 10px; }
    .sidePanel .menu_list > li > span {
      font-size: 30px; }
  .sidePanel .menu_list .sub_menu1 {
    height: 100%;
    width: 100%; }
    .sidePanel .menu_list .sub_menu1 > li {
      width: 84%;
      margin-top: 10px; }
      .sidePanel .menu_list .sub_menu1 > li > span {
        font-size: 18px; }
  .sidePanel .menu_list .sub_menu2 {
    height: 100%;
    width: 100%;
    border-top: 1px solid;
    margin-top: 5px 0;
    line-height: 140%; }
    .sidePanel .menu_list .sub_menu2 > li {
      width: 100%; }
    .sidePanel .menu_list .sub_menu2 span {
      font-size: 11px; }
  .sidePanel .menu_list li a:visited {
    color: #fff; }
  .sidePanel .menu_list li.current a {
    color: #a36b4f; }
    .sidePanel .menu_list li.current a:before {
      position: absolute;
      top: 0;
      left: -15px;
      width: 10px;
      height: 22px;
      content: " ";
      background: url("/genesis/part1/images/pointer_current-position.png") 50% 50% no-repeat;
      background-size: 6px;
      display: inline-block; }
