@font-face {
  font-family: "HyundaiSansHead-Regular_0";
  text-transform: normal;
  font-weight: normal;
  src: url("../fonts/HyundaiSansHead.eot") format("eot"), url("../fonts/HyundaiSansHead.woff2") format("woff2"), url("../fonts/HyundaiSansHead.woff") format("woff"), url("../fonts/HyundaiSansHead.ttf") format("truetype"), url("../fonts/HyundaiSansHead.otf") format("opentype"); }

@font-face {
  font-family: "HyundaiSansText-Italic_0";
  text-transform: normal;
  font-weight: normal;
  src: url("../fonts/HyundaiSansText-Italic.eot") format("eot"), url("../fonts/HyundaiSansText-Italic.woff2") format("woff2"), url("../fonts/HyundaiSansText-Italic.woff") format("woff"), url("../fonts/HyundaiSansText-Italic.ttf") format("truetype"), url("../fonts/HyundaiSansText-Italic.otf") format("opentype"); }

@font-face {
  font-family: "HyundaiSansText-Regular_0";
  text-transform: normal;
  font-weight: normal;
  src: url("../fonts/HyundaiSansText.eot") format("eot"), url("../fonts/HyundaiSansText.woff2") format("woff2"), url("../fonts/HyundaiSansText.woff") format("woff"), url("../fonts/HyundaiSansText.ttf") format("truetype"), url("../fonts/HyundaiSansText.otf") format("opentype"); }

@font-face {
  font-family: "HyundaiSansHead-Medium";
  text-transform: normal;
  font-weight: normal;
  src: url("../fonts/HyundaiSansHeadMedium.eot") format("eot"), url("../fonts/HyundaiSansHeadMedium.woff2") format("woff2"), url("../fonts/HyundaiSansHeadMedium.woff") format("woff"), url("../fonts/HyundaiSansHeadMedium.ttf") format("truetype"), url("../fonts/HyundaiSansHeadMedium.otf") format("opentype"); }

body p {
  font-family: 'HyundaiSansText-Italic_0', sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #ffffff;
  font-weight: normal; }

h1, h2, h3 {
  font-weight: normal;
  line-height: 120%; }

h1 {
  font-family: 'HyundaiSansHead-Regular_0', sans-serif;
  font-size: 2.5em;
  margin: 0 0 10px 0; }

h2 {
  font-family: 'HyundaiSansHead-Regular_0', sans-serif;
  font-size: 1.8em;
  margin: 0 0 10px 0; }

.h2_sub {
  font-family: 'HyundaiSansText-Regular_0', sans-serif;
  font-size: 1.2em; }

h3 {
  font-family: 'HyundaiSansText-Regular_0', sans-serif;
  font-size: 1.3em;
  margin: 10px 0; }

.intro_start {
  font-family: 'HyundaiSansHead-Regular_0', sans-serif;
  font-size: 30px;
  margin: 10px 0; }

.text_i {
  font-size: 20px; }

span, .p1, .p2 {
  font-family: 'HyundaiSansHead-Regular_0', sans-serif; }

input select label a {
  font-family: 'HyundaiSansText-Regular_0', sans-serif !important; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url(../images/web_bg.jpg) 0 0;
  background-size: cover;
  overflow: hidden;
  background-color: #000; }

ol, ul {
  list-style: none;
  padding: 0 10px; }
  ol li, ul li {
    margin: 8px 0; }

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  -webkit-text-shadow: none;
  text-shadow: none;
  cursor: Pointer; }

a.go_to_btn {
  float: left; }

button {
  padding: 10px;
  border: none;
  background: none;
  background-color: none; }
  button:hover {
    cursor: Pointer; }

a.next_finger {
  position: absolute;
  -webkit-animation: pointer 2s infinite;
  -moz-animation: pointer 2s infinite;
  -o-animation: pointer 2s infinite;
  animation: pointer 2s infinite;
  z-index: 10; }
  a.next_finger img {
    width: 167px;
    position: relative; }

.next_p_btn.ui-btn {
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
  text-shadow: none !important;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 40px;
  white-space: inherit;
  float: right;
  animation: twinkle 2s infinite; }
  .next_p_btn.ui-btn:hover {
    background: none; }

img {
  width: 100%;
  display: block; }

#wrap {
  background: #000;
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding: 0; }
  #wrap #contBox {
    margin-right: auto;
    margin-left: auto;
    background: #000; }
    #wrap #contBox section {
      color: dimgray;
      text-shadow: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;
      min-height: 100% !important;
      background-color: #000;
      overflow: hidden; }
      #wrap #contBox section #current-img {
        min-width: 100%; }

.ui-page-theme-a {
  background: #000; }
  .ui-page-theme-a .ui-header {
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    z-index: 10;
    min-height: 48px; }
    .ui-page-theme-a .ui-header .ui-btn {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      width: 30px;
      display: block; }
  .ui-page-theme-a a, .ui-page-theme-a a:hover, .ui-page-theme-a a:active {
    color: #fff; }

.ui-page-theme-a .ui-content {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .ui-page-theme-a .ui-content .textwrap {
    margin: 0 16px; }
    .ui-page-theme-a .ui-content .textwrap .ui-link {
      max-width: 40px;
      float: right; }
    .ui-page-theme-a .ui-content .textwrap .text_i {
      padding-top: 5%;
      margin: 0 auto; }
      .ui-page-theme-a .ui-content .textwrap .text_i p {
        font-family: 'HyundaiSansHead-Regular_0', sans-serif; }
    .ui-page-theme-a .ui-content .textwrap .text {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 4px;
      padding: 15px;
      border: 2px solid #ffffff;
      overflow: hidden; }
      .ui-page-theme-a .ui-content .textwrap .text p {
        color: dimgray;
        margin: 0;
        line-height: 1.4; }
      .ui-page-theme-a .ui-content .textwrap .text .text_btn_r img, .ui-page-theme-a .ui-content .textwrap .text .text_btn_l img {
        width: 20px;
        height: 23px;
        padding-left: 2px;
        background: dimgray; }
        .ui-page-theme-a .ui-content .textwrap .text .text_btn_r img:active, .ui-page-theme-a .ui-content .textwrap .text .text_btn_l img:active {
          background: #2b73af; }
      .ui-page-theme-a .ui-content .textwrap .text .text_btn_r {
        float: left; }
      .ui-page-theme-a .ui-content .textwrap .text .text_img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50px;
        background: #a0a0a0;
        overflow: hidden;
        margin-bottom: 10px; }
      .ui-page-theme-a .ui-content .textwrap .text .btn_box #go_next1 {
        position: relative;
        top: 15px;
        right: -15px; }
      .ui-page-theme-a .ui-content .textwrap .text .btn_box #go_back {
        position: relative;
        top: 15px;
        left: -15px; }
  .ui-page-theme-a .ui-content .view_text {
    position: absolute;
    bottom: 0;
    right: 0; }
    .ui-page-theme-a .ui-content .view_text p {
      background: rgba(0, 0, 0, 0.6);
      padding: 10px 51px 10px 20px;
      border-radius: 50px;
      position: relative;
      bottom: 3px;
      right: 17px; }

#wrap.mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -331px -187px;
  padding: 0;
  width: 380px;
  height: 668px;
  z-index: 2;
  overflow: hidden; }

#wrap.mobile.landscape {
  margin: -187px -331px;
  width: 668px;
  height: 380px; }

#mokup {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -464px -221px;
  width: 442px;
  height: 929px;
  background: url(../images/mokup.png) 0 0 no-repeat;
  background-size: 442px 929px; }
  #mokup .btn_device {
    position: absolute;
    top: 133px;
    right: 50%;
    margin: 0 -185px;
    padding: 0;
    border: none;
    z-index: 999; }
    #mokup .btn_device img {
      position: absolute;
      top: -40px;
      right: -11px;
      width: 31px; }

#mokup.landscape {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important; }

.layer_landscape {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0px;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6); }
  .layer_landscape .box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    .layer_landscape .box img {
      width: 150px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
    .layer_landscape .box p {
      text-align: center; }
    .layer_landscape .box .ok_btn {
      border: 1px solid;
      width: 100px;
      margin: 0 auto;
      margin-top: 15px;
      padding-bottom: 1px;
      padding-top: 2px; }

@media only screen and (min-width: 650px) {
  .page_wrap {
    background: none; } }

@-webkit-keyframes pointer {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px); } }

@keyframes pointer {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px); } }

@-webkit-keyframes twinkle {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes twinkle {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

/* loading */
#wrap {
  overflow-y: auto; }

#mokup .btn_device {
  display: none; }

#view_contBox {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow-y: auto; }
  #view_contBox header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9; }
    #view_contBox header .logo {
      margin: 0 auto;
      width: 90%; }
    #view_contBox header a.share {
      position: absolute;
      top: 50%;
      right: 15px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  #view_contBox .list {
    position: relative;
    padding-top: 70px;
    min-height: calc(100% - 70px);
    overflow-x: hidden; }
    #view_contBox .list article {
      position: relative;
      margin: 5px auto;
      width: calc(100% - 30px);
      background: #ffffff;
      border: 1px solid #2a72af;
      border-radius: 10px;
      /*  -webkit-border-radius:6px; border-radius:6px;  */
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #view_contBox .list article:first-of-type {
        margin-top: 0; }
      #view_contBox .list article .photo {
        position: relative;
        height: 30vh;
        margin-bottom: 10px;
        overflow: hidden;
        margin-top: 17%;
        /* -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; */ }
        #view_contBox .list article .photo img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          height: 100%;
          width: auto; }
      #view_contBox .list article .profile_wrap {
        position: absolute;
        top: 10px;
        left: 10px; }
      #view_contBox .list article .txt_wrap {
        padding: 0 10px; }
      #view_contBox .list article .profile_wrap .userPix_wrap, #view_contBox .list article .profile_wrap .userProfile {
        color: #000;
        display: inline-block; }
      #view_contBox .list article .profile_wrap .userPix {
        position: relative;
        margin-right: 5px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border: 1px solid #a36b4f;
        -webkit-border-radius: 17px;
        border-radius: 17px; }
        #view_contBox .list article .profile_wrap .userPix img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      #view_contBox .list article .profile_wrap .userProfile {
        line-height: 130%; }
        #view_contBox .list article .profile_wrap .userProfile span {
          display: block; }
          #view_contBox .list article .profile_wrap .userProfile span.name {
            font-size: 20px;
            font-weight: bold; }
      #view_contBox .list article .txt_wrap {
        margin-top: 10px;
        color: #000; }
        #view_contBox .list article .txt_wrap > div p {
          font-family: 'HyundaiSansHead-Regular_0', sans-serif; }
        #view_contBox .list article .txt_wrap .comment_wrap p {
          color: #000; }
        #view_contBox .list article .txt_wrap .comment_wrap .headColor {
          color: #2a72af;
          font-weight: bold; }
        #view_contBox .list article .txt_wrap .keyword_wrap {
          margin: 10px 0; }
          #view_contBox .list article .txt_wrap .keyword_wrap p {
            margin: 0;
            color: #000; }
            #view_contBox .list article .txt_wrap .keyword_wrap p span {
              font-weight: bold;
              color: #000; }
          #view_contBox .list article .txt_wrap .keyword_wrap .headColor {
            color: #2a72af;
            font-weight: bold; }
  #view_contBox .moreView {
    position: relative;
    width: calc(100% - 30px);
    border: 1px solid;
    margin: 5px auto;
    background-color: #2a72af;
    border-radius: 10px; }
    #view_contBox .moreView a {
      padding: 10px 0;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
      line-height: 30px;
      text-align: center;
      display: block; }
      #view_contBox .moreView a .icon {
        margin-right: 10px;
        width: 20px;
        height: 10px;
        background: url("../images/timeline/btn_view-more_indicate.png") 0 0 no-repeat;
        background-size: 20px;
        display: inline-block; }
