

body .right-to-left, p, label, select, option {
	text-align: right!important;
}

#page0.ar {
	background:url('../images/intro/open_bg_@3x_ar.jpg') no-repeat;
	background-size: 100% auto;
	background-position: 50% 50%; 
}
// page1.scss
#page1 {
	.ui-content {
		.textwrap {
			text-align: right!important;
		}
		.log_box  {
			.input_info{
				label{
				    background-position: 5% 50%;
				}
				select#input_country {
					text-align: right!important;
					option {
						text-align: right!important;
					}
				}
			}
		}
	}	
}

#page2 {
	h2 {
		text-align: right!important;
	}
}

#page3 {
	.box {
		p {
			text-align: center!important;
		}
	}
}

#page7, #page56 {
	.textwrap {
		.textbox {
			h1 {
				text-align: right!important;

			}

			.img_wrap {
				float: right;
				height: 85px;
			}

			ul {
			    clear: both;

				li {
					text-align: right!important;

					&::before {
						left: auto!important;
						right: 0;
					}
				}	
			}
		}
	}	
}

#page32, #page48, #page50, #page66, #page79, #page85, #page87, #page92, #page99 {
	.ui-content {
		.textwrap {
			p {
			    text-align: center!important;
			}
		}

		.popLayer {
			.textwrap {
				p {
					text-align: right!important;
				}	
			}
		}
	}
}

#page61, #page84 {
	.ui-content {
		.imgwrap {
			p {
			    text-align: center!important;
			}
		}
	}
}

#page96 {
	.ui-content {
		.textwrap {
			margin-bottom: 140px;
		}
	}
}

.sidePanel .menu_list {
  li{ 
    .day_arrow {
      &:after{
        display: none!important;
      }
    }
  }
}