@import 'partials/global/mixins';
@import 'partials/global/color';
@import 'partials/global/typography';
@import 'partials/global/variables';

.ui-page-theme-a .sidePanel {
  background-color: #000 !important;
}

.sidePanel_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
  overflow: hidden;
  .sidePanel {
    position: absolute;
    top: 0;
    left: 105%;
    width:100%;
    height: 100%;
    //background: url('/genesis/part1/images/menu_bg.png') 50% 104% no-repeat #000;
    //background-size: 100%;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
  }
  .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    line-height: 0;
  }
}

.sidePanel .menu_list {
  position: relative;
  top: 13%;
  //margin: 0 0 0 12%;
  margin:0 auto;
  padding: 0;
  width: 90%;
  height: 80%;
  list-style: none;
  color:#fff;
  ul, li{
    margin:0;
    padding:0;
    span{
      //font-family:'HyundaiSansHead-Regular_0', sans-serif;
    }
  }
  
  >li{ //day1, day2, day3
    //height:100%;
    width:32%;
    //float:left;
    margin-bottom:10px;
    >a span{
      font-size:30px;
    }

  }
  li#day1{
    height:100%;
    float:left;
  }
  li#day2{
    // height:50%;
    float:left;
    // @include clearfix;
    //background: url('../images/button/btn_next_talk_arrow_2.png') no-repeat;
    //background-size: 15%;
   // background-position: 49% 2%;
    position: relative;  
    .day_arrow {
      &:after{
        content : ""; 
        display: block; 
        position: absolute; 
        top: 0; 
        left: 0; 
        background-image: url("../images/button/btn_next_talk_arrow_2.png"); 
        width: 100%; 
        height: 100%; 
        opacity: 0.6;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: 54% 2%;
      }
    }
    .sub_menu1 {
      opacity: 0.6;
      padding-top: 4px;
    }
    
    a{
          position: relative;
            z-index: 1;
        }
    >ul{
      opacity: 0.5;
      // height: 50%;
    }
  }
  li#day3{
    // height:50%;
    float:left;
    //background: url('../images/button/btn_next_talk_arrow_2.png') no-repeat;
   // background-size: 15%;
   // background-position: 49% 2%;
    position: relative;  
    .day_arrow {
      &:after{
        content : ""; 
        display: block; 
        position: absolute; 
        top: 0; 
        left: 0; 
        background-image: url("../images/button/btn_next_talk_arrow_2.png"); 
        width: 100%; 
        height: 100%; 
        opacity: 0.6;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: 54% 2%;
      }
    }
    .sub_menu1 {
      opacity: 0.6;
      padding-top: 2px;
    }

    a{
          position: relative;
            z-index: 1;
        }
    >ul{
      opacity: 0.5;
      // height: 50%;
    }
   li#bern span {
      font-size: 20px;
    }
  }
  .sub_menu1{
    height: 100%;
    width:100%;
    >li{ //도시
      //border-bottom:1px solid;
      width:84%; 
      margin-top:10px;
      //padding:5px;
      >a, >span{
        font-size:20px;
      }
    }
    li#milan .sub_menu2 >li{
      //background:url("../images/button/btn_next_talk_arrow_2.png") no-repeat;
      //background-size: 12%;
      //background-position: 97% 50%;
      position: relative;
        margin-top: 2px;
        &:after{
          content : ""; 
          display: block; 
          position: absolute; 
          top: 0; 
          left: 0; 
          background-image: url("../images/button/btn_next_talk_arrow_2.png"); 
          width: 100%; 
          height: 100%; 
          opacity: 0.6;
          z-index: 0;
          background-repeat: no-repeat;
          background-size: 12%;
          background-position: 100% 0%;
        }
        a{
          position: relative;
            z-index: 1;
        }
    }
    li#como{
      margin-top:15%;
      .sub_menu2 >li{
        //background:url("../images/button/btn_next_talk_arrow_2.png") no-repeat;
        //background-size: 12%;
        //background-position: 97% 50%;
        position: relative;
        margin-top: 2px;
        &:after{
          content : ""; 
          display: block; 
          position: absolute; 
          top: 0; 
          left: 0; 
          background-image: url("../images/button/btn_next_talk_arrow_2.png"); 
          width: 100%; 
          height: 100%; 
          opacity: 0.6;
          z-index: 0;
          background-repeat: no-repeat;
          background-size: 12%;
          background-position: 100% 0%;
        }
        a{
          position: relative;
            z-index: 1;
        }
      }
    }
    >li#zurich, li#strasbourg{
      margin-top :2px;
    }
  }
  .sub_menu2{
    //display:none;
    height: 25%;
    width:100%;
    border-top:1px solid;
    margin-top:5px 0;
    line-height: 140%;
    >li{ //기능
      //border-bottom:1px solid;
     // position:relative;
      width:100%;
      //margin-top:5px;
      //padding:5px;
      //margin-bottom: 10px;
    }
    span{
      font-size:11px;
    }
  }

    a:visited {
      color: #fff;
    }
    a{
      font-weight: normal;
    }
}