.ui-page-theme-a .sidePanel {
  background-color: #000 !important;
}

.sidePanel_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
  .sidePanel {
    position: absolute;
    top: 0;
    left: 105%;
    width: 80%;
    height: 100%;
    background: url('/genesis/part1/images/menu_bg.png') 50% 104% no-repeat #000;
    background-size: 100%;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
  }
  .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    line-height: 0;
  }
}

.sidePanel .menu_list {
  position: relative;
  top: 10%;
  margin: 0 0 0 12%;
  padding: 0;
  width: 80%;
  list-style: none;
  li {
    position: relative;
    margin: 10px 0;
    padding: 0;
    width: 100%;
    list-style: none;
    a {
      font-family: 'GenesisSansHead-Light';
      font-size: 18px;
      text-decoration: none;
      display: block;
    }
  }
  .menu5 {
    margin-bottom: 25px;
  }
  li {
    a:visited {
      color: #fff;
    }
    &.current a {
      color: #a36b4f;
      &:before {
        position: absolute;
        top: 0;
        left: -15px;
        width: 10px;
        height: 22px;
        content: " ";
        background: url('/genesis/part1/images/pointer_current-position.png') 50% 50% no-repeat;
        background-size: 6px;
        display: inline-block;
      }
    }
  }
}