// page5.scss
#page77 {
  overflow: hidden;
  
  .page_bg {
    background-image:url('../images/day2/31_photo.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:50% 50%;
    height: 100%;
    position:relative; 
  }

  a.next_finger {
    position: absolute;
    top: 14%;
    left: 33%;
    width: 25%;
  }
    .ui-content {
      @include reset-margins;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .textwrap { 
        @include clearfix;
        margin-top: 45px;
        padding: 0;
        width: 28%;
        position: absolute;
        top: 0;
        right: 0;

        .text_img2 {
          width: 59%;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          top: 11px;

        }

        .text_tip {
          @include text_tip_t2;
          transform: rotate(90deg);
        }

        .text {
          overflow:hidden ;
          // padding-top: 39%;    
        }
      } 
    } 
}


@media only screen and (orientation: Portrait) {
  #page77{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page77{
    .ui-content {
      display: block;
    }
  }
}

#page77.ru {
  .ui-content {
    .textwrap {
      width: 35%;

      .text_img2 {
        width: 52%;
      }
    }
  }
}