// page9.scss
#page9 {
  background:url('../images/day1/landscape2/09_photo.jpg') no-repeat;
  background-size: 100% auto;

  .ui-content {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .imgwrap {
      width: 26%;
      display: inline-block;
      margin-left: 3%;

      img {
        position: relative;
        width: 130%;
        bottom: -200px;
        left: -4px;
      }
    } 

    .textwrap { 
      @include clearfix;
      display: inline-block;
      max-width: 55%;
      margin-bottom: 30px;
      margin-left: 5px;
      position: relative;
      bottom: 0px;

      .text_tip {
        @include text_tip_l;
      }

      .text {
        margin-left: 19px;
      }
    }
  } 
}


@media only screen and (orientation: Portrait) {
  #page9{
  	.ui-content {
  		display: none!important;
  	}
  }
}

@media only screen and (orientation: landscape) {
  #page9{
  	.ui-content {
  		display: block;
  	}
  }
}

