// page5.scss
#page90 {
  background:url('../images/day2/49_photo.jpg') no-repeat;
  background-size: 100% auto;

  .ui-content {
    @include reset-margins;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 33%;
    //float: right;
    //height: 100%;
    overflow-x: initial;

    .textwrap { 
      @include clearfix;
      margin-top: 45px;
      padding: 0;

      .text_tip {
          @include text_tip_p;
       }
    }

    .imgwrap {
      overflow:hidden;
      max-width: 64%;
      max-height: 165px;
      img{
        position:relative;
        top:5px; 
      }
    }
  } 
}


@media only screen and (orientation: Portrait) {
  #page90{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page90{
    .ui-content {
      display: block;
    }
  }
}

