// page33.scss
#page93 {
  background:url('../images/day2/53_image_01.jpg') no-repeat;
  background-size: 100% auto;

  .page_bg {
    animation: twinkle 1.5s infinite;
    position: absolute;
  }

  .ui-content {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .imgwrap {
      width: 80px;
      height: 80px;
      border-radius: 50px;
      margin-left: 25px;
      position: absolute;
      bottom: 25px;
      overflow: hidden;
    } 

    .start_text {
      max-width: 60px;
      position: absolute;
      bottom: 125px;
      left: 77px;
      }
      
    .img_twinkle{
      animation : twinkle 1.5s infinite;
    }
    .textwrap { 
      @include clearfix
      max-width: 63%;
      margin-left: 0;
      padding-left: 0;
      padding:  0;
      position: absolute;
      left: 134px;
      bottom: 30px;

      .text_tip {
          @include text_tip_l;
          bottom: 8px;
      }

      .text {
        margin-left: 19px;
      }
    }
  } 
}


@media only screen and (orientation: Portrait) {
  #page93{
  	.ui-content {
  		display: none!important;
  	}
  }
}

@media only screen and (orientation: landscape) {
  #page93{
  	.ui-content {
  		display: block;
  	}
  }
}

