// page38.scss
#page38 {
  background:url('../images/day1/59_photo.jpg') no-repeat;
  background-size: 100% auto;

    .ui-content {
      @include reset-margins;
      width: 33%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      overflow-x: initial;

      .textwrap { 
        @include clearfix;
        margin-top: 80px;
        padding: 0;

        .text_tip {
          @include text_tip_t;
          top:108px;
        }
      }
    } 
}


@media only screen and (orientation: Portrait) {
  #page38{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page38{
    .ui-content {
      display: block;
    }
  }
}

