// page5.scss
#page96 {
  background:url('../images/day2/56_photo.jpg') no-repeat;
  background-size: 100% auto;
  background-color: #354255!important;

  .ui-content {
    @include reset-margins;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37%;

    .textwrap { 
      @include clearfix;
      margin-top: 45px;
      padding: 0;
      margin-bottom: 88px;

      .text_tip {
          @include text_tip_t;
       }

       .text {
          overflow:hidden ; 

          #go_page13 {
            margin-top: 10px;
          }
       }
    }
    .imgwrap {
      overflow: hidden;
      max-height: 154px;

      img {
        width: 60%;
      }
    }
  } 
}


@media only screen and (orientation: Portrait) {
  #page96{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page96{
    .ui-content {
      display: block;
    }
  }
}

