// page5.scss
#page3001 {
   background:linear-gradient($black,$gray_gradient,$gray_gradient ,$black );

  .ui-content {
    @include reset-margins;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:url('../images/day1/Day1_07_plus_stillcut.jpg') no-repeat;
    background-size: 57% auto;
   background-repeat: no-repeat;
   background-position: 18% 50%;

    .textwrap { 
      @include clearfix;
      margin-top: 10%;
      padding: 0;
      width: 28%;
      position: absolute;
      top: 0;
      right: 0;

      .text_img2 {
        width: 59%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        top: 11px;
      }

      .text_tip {
        @include text_tip_t2;
        transform: rotate(90deg);
      }

      .text {
        overflow:hidden ;
        // padding-top: 39%;    
      }
    }
    .btn_play{
      position: absolute;
      top:50%;
      left: 37%;
      transform: translate(-37%, -50%);
      width:7%;
      animation:twinkle 1.5s infinite;

    }

    .popLayer{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; 
      background:$black;
      //z-index: 20;
      iframe, video{
        position:relative;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      video{
        width: 70%;
        height: auto;
      }
      .imgwrap {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin-left: 25px;
        position: absolute;
        bottom: 25px;
        overflow: hidden;
      }
      .textwrap { 
        @include clearfix
        max-width: 63%;
        margin-left: 0;
        padding-left: 0;
        padding:  0;
        position: absolute;
        left: 134px;
        bottom: 30px;

        .text_tip {
            @include text_tip_l;
            bottom: 8px;
        }

        .text {
          margin-left: 19px;
        }
      }
    } 
    
  } 
}


@media only screen and (orientation: Portrait) {
  #page11{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page11{
    .ui-content {
      display: block;
    }
  }
}

