// page5.scss
#page48 {
  background-image:url('../images/day1/78_image.jpg');
  //background-repeat:no-repeat;
  background-size: 100% auto;
  //opacity: 0.7;
   .ui-content {
      @include reset-margins;
      //background-color: $black_opcity;
      height:100%;
      .textwrap { 
      @include clearfix
      text-align: center;
      margin-top:6%;
       .text_i {
          //overflow:hidden;
          width: 90%;
          //margin: 0 auto; 
          
          // p {
          //   &:before {
          //     content: '';
          //     display: block;
          //     width: 4px;
          //     height: 26px;
          //     background: #ffffff;
          //     position: relative;
          //     margin-top: 3px;
          //     top: 23px;
          //   }
          // }           
       }
    }
    .imgwrap{
      margin-top:4%;
      .choice_color{
        width:90%;
        margin:0 auto;
        a{
          display:block;
          height:auto;
          li{
            width:18%;
            float:left;
            margin:1%;
          }
        }
      }
    }
   } 
}


@media only screen and (orientation: Portrait) {
  #page48{
    .ui-content {
      display: none!important;
    }
  }
}

@media only screen and (orientation: landscape) {
  #page48{
    .ui-content {
      display: block;
    }
  }
}

