////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

html, body {
	@include reset-margins;
	height: 100%;
    background: url(../images/web_bg.jpg) 0 0;
    background-size: cover;
    overflow: hidden;
    background-color: $black;

    
}

// ==========================================================
// a, form, input, img, ul button
// ==========================================================

ol, ul {
	list-style:none;
	padding: 0 10px;

	li {
		margin: 8px 0;
	}
}

a {
	color:$white; 
	text-decoration:none; 
	display:block; 
	-webkit-text-shadow:none; 
	text-shadow:none;
	cursor: Pointer;
}

a.go_to_btn {
	float: left;
}

button {
	padding: 10px;
	border: none;
		background: none;
		background-color: none;
	&:hover {
		cursor: Pointer;	
	}
}

a.next_finger {
	position:absolute; 
	-webkit-animation:pointer 2s infinite; 
	-moz-animation:pointer 2s infinite; 
	-o-animation:pointer 2s infinite; 
	animation:pointer 2s infinite;
	z-index: 10;

	img {
		width: 167px;
    	position: relative;
	}
}

.next_p_btn.ui-btn	{
	background-color: transparent !important;
	border: none;
	box-shadow: none!important;
	text-shadow: none!important;
    position: absolute;
    bottom: 0;
    right: 0;
   	max-width: 40px;
    white-space: inherit;
    float: right;
    animation: twinkle 2s infinite;

	&:hover {
		background: none;
	}
}

img {
	width:100%;
	display: block;
}

// #current-img{
// 	position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
// }

// ==========================================================
// Content layout
// ==========================================================

#wrap {
	background: $black;
	height: 100%;
	overflow-y: auto;
	position: relative;
    padding: 0;

    #contBox {
    	margin-right: auto;
		margin-left: auto;
		background: $black;
		//height:120%;
		//overflow: hidden;
		section {
			color: $font-color;
			text-shadow: none;
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%!important;
		    min-height: 100%!important;
		    background-color: $black;
		}

		section.active {
			//display: block !important;
		}
    }
}
.ui-page-theme-a{
	background: $black;
	.ui-header{
		position:absolute;
		width:100%;
		background:none;
		border:none;
		z-index:10;
		min-height:48px;
		.ui-btn{
			background:none;
			border:none;
			outline:none;
			box-shadow:none;
			width: 30px;
			display:block; 
			// opacity:1;
			// &:hover{
			// 	background:none; 
			// 	border:none; 
			// 	opacity:1;
			// }
			// &:focus{
			// 	outline:none; 
			// 	-webkit-box-shadow:none; 
			// 	-moz-box-shadow:none; 
			// 	box-shadow:none;
			// }
		}
	}
	a, a:hover,a:focus{
		color:#fff;
	}

}
.ui-page-theme-a .ui-content {
	@include reset-margins;
	overflow: hidden;
	.textwrap {
		margin: 0 16px;

		.ui-link {
			max-width: 40px;
            float: right;
		}
		.text_i{
			padding-top: 5%;
    		margin: 0 auto;
    		p{
            	font-family: 'HyundaiSansHead-Regular_0', sans-serif;
          	} 
			// p:before{
			//   content: '';
   //            display: block;
   //            width: 4px;
   //            height: 20px;
   //            background: #ffffff;
   //            position: relative;
   //            margin-top: 3px;
   //            top: 23px;
   //            left: 50px;
			// }
		}
		.text{
			background-color: rgba($white, .8);
        	border-radius: 4px;
        	padding: 15px;
        	border: 2px solid $white;
        	overflow:hidden;

        	p {	
        		color: $font-color;
        		margin: 0;
        		line-height: 1.4;
        	}

        	.ui-link {
				//margin-top: 10px;
			}

			.text_btn_r, .text_btn_l{
				img {
					width: 20px;
					height: 23px;
					padding-left: 2px;
					background: $gray;

					&:focus, &:hover {
						background: $btn_navi;
					}
				}
			}

			.text_btn_r {
              float: left;
            }

            .text_img {
	            width: 80px;
	            height: 80px;
	            margin: 0 auto;
	            border-radius: 50px;
	            background: $gray_bg;
	            border: 1px solid $white;
	            overflow: hidden;
	            margin-bottom: 10px;

	            img {
	              	// margin-top: 10px;
	               //  width: 120%;
                }
            }

            .btn_box {
            	#go_next1 {
            		position: relative;
				    top: 15px;
				    right: -15px;
            	}

            	#go_back {
            		position: relative;
				    top: 15px;
				    left: -15px;
            	}
            }
		}
	}

	.view_text {
            	position: absolute;
			    bottom: 0;
			    right: 0;

			    p {
			    	background: $black_opcity_btn;
				    padding: 10px 51px 10px 20px;
				    border-radius: 50px;
				    position: relative;
				    bottom: 3px;
				    right: 17px;
			    }
            }	
}


#wrap.mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -331px -187px;
    padding: 0;
    width: 380px;
    height: 668px;
    z-index: 2;
    overflow: hidden;
}

#wrap.mobile.landscape	{
	margin:-187px -331px;
	width:668px;
	height:380px;
}

#mokup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -464px -221px;
    width: 442px;
    height: 929px;
    background: url(../images/mokup.png) 0 0 no-repeat;
    background-size: 442px 929px;

    .btn_device {
		position: absolute;
	    top: 133px;
	    right: 50%;
	    margin: 0 -185px;
	    padding: 0;
	    //width: 376px;
	    //height: 668px;
	    border: none;
	    //display: none;
	    z-index: 999;

	    img {
    	    position: absolute;
		    top: -40px;
		    right: -11px;
		    width: 31px;
	    }
    }
}

#mokup.landscape {
	-webkit-transform: rotate(90deg)!important;
	transform:rotate(90deg)!important;
}

.layer_landscape {
	display: none;
	width: 100%;
	height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0px;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba($black, 0.6);
    // width: 370px;
    // padding: 140px 0;


    .box {
    	width: 100%;
        position:absolute; 
        top:50%; 
        left:50%; 
        -webkit-transform:translate(-50%, -50%); 
        transform:translate(-50%, -50%);
	    text-align: center;

	    img {
			width: 150px;
			display: block;
		    margin: 0 auto;
		    margin-bottom: 20px;
		}
		p {
			text-align: center;
		}

		.ok_btn {
		    border: 1px solid;
		    width: 100px;
		    margin: 0 auto;
		    margin-top: 15px;
		    padding-bottom: 1px;
		    padding-top: 2px;
		}
    }
}

// ==========================================================
// media query
// ==========================================================

@media only screen and (min-width: 650px){	
	.page_wrap {
		background: none;
	}

	
}

// ==========================================================
// keyframes
// ==========================================================


@-webkit-keyframes pointer {
	0%, 100% {
		-webkit-transform:translate(0, 0); 
		transform:translate(0, 0);
	}

	50% {-webkit-transform:translate(10px, 10px); 
		transform:translate(10px, 10px);
	}
}
@keyframes pointer {
	0%, 100% {-webkit-transform:translate(0, 0); 
		transform:translate(0, 0);
	}
	50% {-webkit-transform:translate(10px, 10px); 
		transform:translate(10px, 10px);
	}
}

@-webkit-keyframes twinkle {
    0%, 100% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
}

@keyframes twinkle {
    0%, 100% {
      opacity:1;
    }

    50% {
       opacity:0;
    }  
 }



/* loading */
// #loading .top_nav {display:none;}
// #loading .loading_wrap {position:relative; margin:100px 0 20px; width:100%; height:138px; overflow:hidden; -webkit-box-sizing:content-box; box-sizing:content-box;}
// #loading .loading_progress {position:absolute;bottom:0; left:50%; margin:0 -139px; width:278px; height:0; background:url(/adm/images/safety/icon_loading_action.png) 50% 100% no-repeat; background-size:cover; overflow:hidden;}
// #loading .loading_progress_bg {position:absolute; top:0; left:50%; width:278px; transform:translateX(-50%);}
// #loading .loading_txt {-webkit-animation:glow1 2s ease-in-out infinite; -moz-animation:glow1 2s ease-in-out infinite; -o-animation:glow1 2s ease-in-out infinite; animation:glow1 2s ease-in-out infinite;}